@import url('https://fonts.googleapis.com/css2?family=Karma:wght@700&family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
  --brand-gradient: linear-gradient(135deg, #ff7245, #fe3a7c);
  --light-grey: #d6d7db;
  --dark-grey: #c0c2c8;
  --black-text: #333333;
}

/*----------------Base styles------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body,
button,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  position: relative;
  max-width: 90%;
  padding: 0 4rem;
  margin: 0 auto;
}

.grid-2 {
  display: flex;

  height: 100vh;
  align-items: center;
  justify-content: center;
}
.column-1 {
  margin-right: 1.5rem;
}

.column-2 {
  margin-left: 1.5rem;
}
.btn {
  display: inline-block;
  position: relative;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 10px;
  padding: 15px 0;
  width: 160px;
  text-align: center;
  letter-spacing: 1px;
  overflow: hidden;
  border: none;
}
.section {
  padding: 6rem 0;
  height: 100%;
  overflow: hidden;
}
.moreinfo-btn:link,
.moreinfo-btn:visited {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  color: #f55160;
  text-decoration: none;
  padding: 9px;
  border-radius: 10px;
  transition: all 0.2s;
}

.moreinfo-btn:hover {
  background: var(--brand-gradient);
  color: white;
  box-shadow: 0 1rem 2rem rgba(var(--black-text), 0.15);
}

.btn-arrow {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0 1rem;
}
.separator {
  border-top: 5px solid #d40678;
  width: 60px;
}
/*-------------End of Base styles--------------*/

/*---HEADER - start---*/
header {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.navigation {
  width: 100%;
  position: relative;
  z-index: 50;
}

.navigation .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo a {
  font-family: 'karma', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  background-color: rgb(122, 122, 155);
}
.header-content .container {
  overflow: hidden;

  min-height: calc(100vh - 6rem);
}
nav {
  display: flex;
  flex-grow: 1;

  justify-content: space-around;
}

.links ul {
  display: flex;
}

.links a {
  display: inline-block;
  padding: 0.9rem 1.6rem;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1;
  transition: 0.3s;
}

.login-btn {
  background: var(--brand-gradient);
  color: white;

  -webkit-box-shadow: 0px 10px 57px -14px rgba(240, 120, 120, 1);
  -moz-box-shadow: 0px 10px 57px -14px rgba(240, 120, 120, 1);
  box-shadow: 0px 10px 57px -14px rgba(240, 120, 120, 1);
}

.aboutus-btn {
  background-color: white;
  width: 190px;
  -webkit-box-shadow: 0px 10px 57px -14px rgb(134, 81, 81);
  -moz-box-shadow: 0px 10px 57px -14px rgb(134, 81, 81);
  box-shadow: 0px 10px 57px -14px rgb(134, 81, 81);
}

.aboutus-btn span {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-content {
  position: relative;
  color: white;
}

.header-title {
  font-size: 3.5rem;
  padding-bottom: 1.8rem;
}
.header-subtitle {
  font-weight: 350;
  letter-spacing: 0.3rem;
  padding-bottom: 1rem;
}
.header-content .text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  padding-bottom: 2.5rem;
}

header .column-2 {
  position: relative;

  width: 100%;
}
.imgdiv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stack01 {
  position: absolute;
  max-width: 60%;
  border-radius: 8%;
  height: 100%;
  z-index: 15;
  transform: translateX(12%);
  box-shadow: 51px 10px 96px -71px rgba(0, 0, 0, 0.493);
}
.stack02 {
  max-width: 50%;
  height: 75%;
  z-index: 12;
  border-radius: 10%;
  transform: translateX(78%) scale(0.8);
  box-shadow: 51px 10px 96px -71px rgba(0, 0, 0, 0.493);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--brand-gradient);
  color: white;
  clip-path: polygon(0 0, 66% 0, 51% 90%, 0 100%);
}

/*---HEADER - end---*/

/*----clients-section----*/
.client-section {
  position: relative;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client {
  width: 20%;
}
.client:not(:first-child) {
  margin-left: 3rem;
}

.clients img {
  background-position: center;
  filter: grayscale(100%);
}

/*****-End of clients section*******/

/*******Solution-section******/
.solution-section .container {
  position: relative;
  color: var(--dark-grey);
  height: 100%;
  overflow: hidden;
}
.solution-section .column-1 {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}

.solution-section.section {
  padding-top: 0;
}
.solution-title {
  color: var(--black-text);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 1.4rem 0;
}

.solution-section .text {
  font-size: 0.9rem;
  font-weight: 450;
  line-height: 2;
  padding-bottom: 2.5rem;
}

.solution-section .column-2 {
  width: 100%;
  margin: 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.solution {
  width: 50%;
}
.sol-icon {
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
}
.sol-icon-1 {
  background-color: #d40678;
  box-shadow: 0px 12px 63px -22px rgba(212, 6, 119, 1);
}
.sol-icon-2 {
  background-color: #6ecac9;
  box-shadow: 0px 12px 63px -22px rgba(6, 236, 171, 1);
}
.sol-icon-3 {
  background-color: #b888f8;
  box-shadow: 0px 12px 63px -22px rgba(184, 136, 248, 1);
}
.sol-icon-4 {
  background-color: #ff9655;
  box-shadow: 0px 12px 63px -22px rgba(247, 140, 17, 1);
}
.solution-subtitle {
  color: var(--black-text);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 1.5rem 0;
}
.line {
  width: 50px;
}
.line-1 {
  border-top: 3px solid #d40678;
}
.line-2 {
  border-top: 3px solid #6ecac9;
}
.line-3 {
  border-top: 3px solid #b888f8;
}
.line-4 {
  border-top: 3px solid #ff9655;
}
/******Resources-section*****/
.resources-section {
  color: var(--dark-grey);
  height: 100%;
}

.resources-section .container {
  z-index: 3;
}
.resource-title {
  color: var(--black-text);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 1.4rem;
}
.resources-section .column-2 {
  margin-left: 3.5rem;
}
.resources-section .column-1 {
  margin-right: 3.5rem;
  position: relative;
}
.laptop-img1 {
  max-width: 100%;
  top: 12em;
}
.resources-section .text {
  font-size: 0.9rem;
  font-weight: 450;
  line-height: 2;
  padding-bottom: 2.5rem;
}
.resources-overlay {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background: var(--brand-gradient);
  color: white;
  clip-path: polygon(100% 3%, 32% 35%, 50% 79%, 100% 94%);
}
/******end of resources section*********/

/************Analysis Section**********/
.analysis-section {
  position: relative;
  color: var(--dark-grey);
  height: 100%;
  overflow: hidden;
}
.analysis-title {
  color: var(--black-text);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 1.4rem;
}
.analysis-section .column-2 {
  margin-left: 2.5rem;
}
.analysis-section .column-1 {
  margin-right: 3.5rem;
  position: relative;
  z-index: 3;
}

.analysis-section .text {
  font-size: 0.9rem;
  font-weight: 450;
  line-height: 2;
  padding-bottom: 2.5rem;
}

.laptop-img {
  z-index: 3;
  position: relative;
  max-width: 100%;
}

.analysis-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--brand-gradient);
  color: white;
  clip-path: polygon(100% 3%, 32% 35%, 50% 79%, 100% 94%);
}

/*******End of Analysis section**********/
/*********Course section********/
.customer-section {
  display: relative;
}
.course-title {
  color: var(--black-text);
  font-size: 2.4rem;
  font-weight: 600;
  padding: 2.5rem 0;
  padding-bottom: 4rem;
}

.course-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.controllers {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.right,
.left {
  display: flex;
  width: 3em;
  height: 3em;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 5px;

  border-radius: 8px;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}
.left {
  color: white;

  background: var(--brand-gradient);
}

.right {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slide-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
  width: 70%;
}
.cards {
  width: 48vmin;
  height: 42vmin;
  margin: 5%;
  border-radius: 18px;
  box-shadow: 0px 0px 60px 3px rgba(0, 0, 0, 0.15);
}
.cardimg {
  max-height: 50%;
  overflow: hidden;
}
.cardimg img {
  object-fit: fill;

  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.card-title {
  padding: 1rem 1rem;
  max-height: 30%;
  background-color: white;
  overflow: hidden;
}

.card-foot {
  max-height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  overflow: hidden;
}
.author {
  color: var(--dark-grey);
}
.views {
  color: var(--black-text);
}
.views span {
  color: #fe3a7c;
  padding: 0 5px;
}
/*********Plan section*********/

.plans-section {
  text-align: center;
  position: relative;
  padding: 2.5rem 0;
  height: 100%;
}
.plans-section .separator {
  margin: 0 auto;
}

.plans-title {
  color: var(--black-text);
  font-size: 2.4rem;
  font-weight: 600;
  padding: 3.5rem 0;
}
.plans-section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  padding: 2.5rem 0;
}

.plan {
  min-width: 18%;
  height: 80vh;
  box-shadow: 0px 0px 40px 3px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.3s;
  padding: 2rem;
}

.plan-icon {
  height: 40%;

  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.plan-icon span {
  font-size: 4rem;
}
.plan-title {
  color: var(--black-text);
  font-size: 1.5rem;
}

.plan-text {
  color: var(--dark-grey);
}

.dollar {
  color: #fe4175;
  font-size: 2rem;
  font-weight: 600;
  margin-right: 6px;
}
.period {
  color: var(--dark-grey);
  font-size: 1.2rem;
  font-weight: 500;
}
.treeicon {
  color: #fe4175;
  margin-right: 3px;
}

.ind-icon {
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start-btn {
  background: var(--brand-gradient);
  color: white;
  display: none;
  margin-bottom: 3rem;
}

.plan:hover {
  height: 40em;
  box-shadow: 0px 0px 46px 12px rgba(0, 0, 0, 0.247);
}
.plan:hover .start-btn {
  display: inline-block;
}

/************dfeedback***********/
.customer-section {
  position: relative;

  width: 100%;
}

.customer-feedback {
  position: relative;
  left: 25%;
  top: 50%;
}

.feedback-title {
  color: var(--black-text);
  font-size: 2.4rem;
  font-weight: 600;
  padding: 2.5rem 0;
}

.customer-section .text {
  font-size: 1rem;
  color: var(--dark-grey);
  font-weight: 600;
  line-height: 2;
}

.customer-name {
  color: var(--black-text);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2.5rem 0;
}

.customer-overlay {
  position: absolute;
  width: 100%;

  top: 0;
  left: 0;
  background: var(--brand-gradient);

  clip-path: polygon(0 22%, 32% 37%, 28% 65%, 0 73%);
}
/**********join-section**********/

.join-section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-section .container {
  position: absolute;
  text-align: center;
}
.join-title {
  color: var(--black-text);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 1.4rem;
}

.join-section .text {
  font-size: 0.9rem;
  font-weight: 450;
  line-height: 2;
  padding-bottom: 2.5rem;
}

.join-overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--brand-gradient);
  color: white;
  clip-path: polygon(26% 29%, 100% 10%, 100% 75%, 11% 75%);
}
/*********end of join section*********/
.footer {
  width: 100%;
  position: relative;
}
.footer .grid-2 {
  justify-content: space-around;
  height: 50%;
  flex-wrap: wrap;
}
.footer-logo {
  font-family: 'karma', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer h5 {
  font-size: 1rem;
  font-weight: 700;
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer h6 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--black-text);
  padding-bottom: 1rem;
}
.footer .container {
  padding: 3rem 3rem;
}

.footer .column-2 {
  display: flex;

  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}
.footerlinks {
  max-width: 20%;
}
.footer li {
  text-transform: capitalize;
  padding: 0.5rem 0;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.copy {
  font-size: 0.8rem;
  font-weight: 600;
}
.rights {
  font-weight: 700;
}
.copy-logo {
  font-size: 1.2rem;
  font-family: 'karma';
  font-weight: 600;
  padding: 0 6px;
  background: var(--brand-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/************Hamburger***********/
.hamburger {
  display: none;
}
.hamburger__checkbox {
  display: none;
}

.hamburger__btn {
  background-color: rgb(255, 255, 255);
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;

  box-shadow: 0 1rem 3rem rgba(black, 0.8);
  text-align: center;
  cursor: pointer;

  /*  @include respond(tab-port) {
          top: 4rem;
          right: 4rem;
      }

      @include respond(phone) {
          top: 3rem;
          right: 3rem;
      }*/
}

.hamburger__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: var(--brand-gradient);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.hamburger__checkbox:checked ~ .hamburger__background {
  transform: scale(80);
}

.hamburger__icon {
  overflow: visible;
  position: relative;
  margin-top: 2rem;
}
.hamburger__icon,
.hamburger__icon::after,
.hamburger__icon::before {
  width: 2rem;
  height: 2px;
  background-color: rgb(240, 41, 75);
  display: inline-block;
}

.hamburger__icon::after,
.hamburger__icon::before {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.hamburger__icon::after {
  top: -0.5rem;
}
.hamburger__icon::before {
  top: 0.5rem;
}

.hamburger__checkbox:checked + .hamburger__btn .hamburger__icon {
  background-color: transparent;
}

.hamburger__checkbox:checked + .hamburger__btn .hamburger__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.hamburger__checkbox:checked + .hamburger__btn .hamburger__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }*/
/******** MEDIA QUERY  *******/

@media only screen and (max-width: 1200px) {
  .header-title {
    font-size: 2.5rem;
  }
  .links a {
    padding: 0.9rem 1rem;
  }
  .header-content .text {
    font-size: 0.8rem;
  }
  .stack01 {
    max-width: 50%;
  }

  .stack02 {
    max-width: 45%;
  }

  .column-1 {
    margin-right: 1rem;
  }

  .column-2 {
    margin-left: 1rem;
  }
  .solution-section {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 980px) {
  .hamburger {
    display: block;
  }

  .logo {
    display: inline;
  }
  .logo a {
    display: inline-block;
    font-family: 'karma', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
    background-color: rgb(122, 122, 155);
  }
  nav {
    display: block;

    background-color: blue;
    text-align: center;
    z-index: 1500;
  }
  .links ul li {
    width: 100%;
  }
  .hamburger__checkbox:checked + nav .links ul li {
    background-color: brown;
    display: block;
  }

  .links a {
    display: block;
    width: 100vw;
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1;
    transition: 0.3s;
  }
  nav .btn {
    display: block;
    position: relative;
  }
  .login-btn {
    height: 3rem;
  }

  .hamburger__checkbox:not(:checked) + nav {
  }

  .header-content .grid-2,
  .solution-section .grid-2,
  .resources-section .grid-2,
  .analysis-section .grid-2 {
    flex-wrap: wrap;
  }
  .header-title {
    font-size: 2.5rem;
  }
  .overlay {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 80%);
  }
  .imgdiv {
    width: 100%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .course-slider {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .slide-cards {
    flex-wrap: wrap;
  }

  .clients {
    flex-wrap: wrap;
  }

  .footer .column-2 {
    flex-wrap: wrap;
  }
  .footerlinks {
    min-width: 50%;
  }

  .cards {
    width: 300px;
    height: 340px;
  }
  .slide-cards {
    width: 90%;
  }
  .card-foot {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 650px) {
  .solution {
    width: 80%;
  }
  .header-title {
    font-size: 2rem;
  }
  .solution-title {
    font-size: 2rem;
  }

  .stack01,
  .stack02 {
    box-shadow: 51px 10px 60px -39px rgba(0, 0, 0, 0.493);
  }

  .plan {
    min-width: 48%;

    margin-top: 3rem;
  }
}
/* .hamburger {
    visibility: visible;
  }

  .hamburger .hamburger__checkbox:checked + .container nav {
    display: inline-block;
    position: absolute;
    z-index: 1500;
  }*/
